.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.section-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 45px auto;
  margin-top: 70px;
}

.section-header p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FF4646;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #FF4646;
}

.section-header h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #88CDF6;

}
.section-header h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 400px;
  color: #88CDF6;


}


.btn{
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex ;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  cursor: pointer;
}











